Welcome to Tic-Tac-Toe!

<form action= '/user_choice' method= 'post'>

<table>
	<tr>
		<td><input type= "submit" name= "square_spot" value= '0' <%=board.ttt_board[0]%>></td>
		<td><input type= "submit" name= "square_spot" value= '1' <%=board.ttt_board[1]%>></td>
		<td><input type= "submit" name= "square_spot" value= '2' <%=board.ttt_board[2]%>></td>
		<!-- SEE SHIRLEY'S -->
	</tr>
	<tr>
		<td><input type= "submit" name= "square_spot" value= '3' <%=board.ttt_board[3]%>></td>
		<td><input type= "submit" name= "square_spot" value= '4' <%=board.ttt_board[4]%>></td>
		<td><input type= "submit" name= "square_spot" value= '5' <%=board.ttt_board[5]%>></td>
		<!-- SEE SHIRLEY'S -->
	</tr>
	<tr>
		<td><input type= "submit" name= "square_spot" value= '6' <%=board.ttt_board[6]%>></td>
		<td><input type= "submit" name= "square_spot" value= '7' <%=board.ttt_board[7]%>></td>
		<td><input type= "submit" name= "square_spot" value= '8' <%=board.ttt_board[8]%>></td>
		<!-- SEE SHIRLEY'S -->
	</tr>
</table>
<!-- 
<select name= "square_spot">
	<option value= "0">0</option>
	<option value= "1">1</option>
	<option value= "2">2</option>
	<option value= "3">3</option>
	<option value= "4">4</option>
	<option value= "5">5</option>
	<option value= "6">6</option>
	<option value= "7">7</option>
	<option value= "8">8</option>
</select>

<input type= 'submit'> -->

</form>