<link rel="stylesheet" type="text/css" href="css/styles.css">

Welcome to Tic-Tac-Toe!

<p>It's <%=active_player%>'s turn!</p>

<form action= '/user_choice' method= 'post'>

<table id="table_size">
	<tr>
		<td><input class="left_column_top" type='submit' value='<%=board.ttt_board[0]%>' name='choice'></td>
		<td class="middle_column_top"><input class="square_size" type='submit' value='<%=board.ttt_board[1]%>' name='choice'></td>
		<td><input class="right_column_top" type='submit' value='<%=board.ttt_board[2]%>' name='choice'></td>
	</tr>
	<tr>
		<td class="left_column_middle"><input class="square_size" type='submit' value='<%=board.ttt_board[3]%>' name='choice'></td>
		<td class="middle_column_middle"><input class="square_size" type='submit' value='<%=board.ttt_board[4]%>' name='choice'></td>
		<td class="right_column_middle"><input class="square_size" type='submit' value='<%=board.ttt_board[5]%>' name='choice'></td>
	</tr>
	<tr>
		<td><input class="left_column_bottom" type='submit' value='<%=board.ttt_board[6]%>' name='choice'></td>
		<td class="middle_column_bottom"><input class="square_size" type='submit' value='<%=board.ttt_board[7]%>' name='choice'></td>
		<td><input class="right_column_bottom" type='submit' value='<%=board.ttt_board[8]%>' name='choice'></td>
	</tr>
</table>
</form>

<!-- <p><select name= "square_spot">

	<%if board.ttt_board[0] == "" %>
		<option value= "0">0</option>
	<%end%>

	<%if board.ttt_board[1] == "" %>
		<option value= "1">1</option>
	<%end%>		

	<%if board.ttt_board[2] == "" %>
		<option value= "2">2</option>
	<%end%>

	<%if board.ttt_board[3] == "" %>
		<option value= "3">3</option>
	<%end%>

	<%if board.ttt_board[4] == "" %>
		<option value= "4">4</option>
	<%end%>
	
	<%if board.ttt_board[5] == "" %>
		<option value= "5">5</option>
	<%end%>	

	<%if board.ttt_board[6] == "" %>
		<option value= "6">6</option>
	<%end%>
	
	<%if board.ttt_board[7] == "" %>
		<option value= "7">7</option>
	<%end%>
	
	<%if board.ttt_board[8] == "" %>
		<option value= "8">8</option>
	<%end%>

</select></p>

<p><input type= 'submit'></p>

</form> -->